@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "oswald-light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Oswald"), url(../fonts/Oswald-Light.ttf) format("truetype");
}

@font-face {
  font-family: "oswald-medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Oswald"), url(../fonts/Oswald-Medium.ttf) format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/* FONTS */
.oswald {
  font-family: oswald-medium, sans-serif;
}

.oswald-light {
  font-family: oswald-light, sans-serif;
}

/* COLORS */
/* primary colors */
.arch-black {
  color: #000000;
}

.arch-black-bg {
  background-color: #000000;
}

.bulldog-red {
  color: #ba0c2f;
}

.bulldog-red-bg {
  background-color: #ba0c2f;
}

/* secondary colors */
.glory-glory {
  color: #e4002b;
}

.glory-glory-bg {
  background-color: #e4002b;
}

.lake-herrick {
  color: #00a3ad;
}

.lake-herrick-bg {
  background-color: #00a3ad;
}

.odyssey {
  color: #c8d8eb;
}

.odyssey-bg {
  background-color: #c8d8eb;
}

.stegman {
  color: #9ea2a2;
}

.stegman-bg {
  background-color: #9ea2a2;
}

/* Custom */
.slidedown {
  overflow: hidden;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.custom-btn {
  color: white;
  background-color: #9ea2a2;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.375rem;
}
/*Shop Page*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: right;
  text-align: center;
  font-family: arial;
  display: inline-block;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.btn-hover button:hover {
  opacity: 0.7;
}

h2 {
  font-size: 25px;
  font-family: oswald-medium, sans-serif;
}